<body>

<div ng-app="hello" ng-controller="RecipeEditor" >
    <br/><br/>

    <b>Recipe editor:</b><br/>

    <table boarder="0">
        <tr>
            <td>
                Recipe name:
            </td>
            <td>
                <input type="text" ng-model="recipeContainer.name" />
            </td>
        </tr>
        <tr>
            <td>Difficulty</td>
            <td><select ng-model="recipeContainer.difficulty">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
                <option value="Expert Chef">Expert Chef</option>
            </select></td>
        </tr>
        <tr>
            <td>
                Recipe preparation time
            </td>
            <td>
                <input type="number" step="1" ng-model="recipeContainer.preparationTime" />
            </td>
        </tr>
    </table>


    <form ng-repeat="ingredient in recipeContainer.ingredients">
        <input type="text" ng-model="ingredient" value="{{inredient}}" /> {{ingredient}}
    </form>

    <button ng-click="addIngredient()">AddIngredient</button>

</div>

</body>