<div ng-controller="RegisterController">
    <form novalidate="novalidate" class="simple-form">
        <label>E-mail: <input type="email" ng-model="user.email" /></label><br />
        <label>Password: <input type="password" ng-model="user.password" /></label><br />
        <label>Password: <input type="password" ng-model="user.password" /></label><br />
        <label>First name: <input type="text" ng-model="user.name" /></label><br />
        <label>Last name: <input type="text" ng-model="user.surname" /></label><br />
        <input type="button" class="btn btn-default" ng-click="register()" value="Register" />
        <div vc-recaptcha="vc-recaptcha"></div>
    </form>
    <pre>user = {{user | json}}</pre>
</div>