<div ng-controller="RegisterController">
    <form novalidate="novalidate" class="simple-form" name="add_user_form">
        <label>E-mail: <input type="email" class="form-control" ng-model="user.email" /></label><br />
        <div class="form-group" ng-class="{ 'has-error' : add_user_form.user_password.$dirty &amp;&amp; add_user_form.user_password.$invalid }">
            <p class="help-text">Enter password</p>
            <input type="password" class="form-control" id="user_password" name="user_password" placeholder="password" required="required" ng-model="user.user_password" password-verify="{{user.confirm_password}}"/>
            <div class="help-block" ng-messages="add_user_form.user_password.$error" ng-if="add_user_form.user_password.$dirty">
                <p ng-message="required">This field is required</p>
                <p ng-message="passwordVerify">No match!</p>
            </div>
            <ul id="strength" check-strength="user.user_password"></ul>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : add_user_form.confirm_password.$dirty &amp;&amp; add_user_form.confirm_password.$invalid }">
            <p class="help-text">Enter matching password</p>
            <input class="form-control" id="confirm_password" ng-model="user.confirm_password" name="confirm_password" type="password" placeholder="confirm password" required="required" password-verify="{{user.user_password}}" />
            <div class="help-block" ng-messages="add_user_form.confirm_password.$error" ng-if="add_user_form.confirm_password.$dirty">
                <p ng-message="required">This field is required</p>
                <p ng-message="passwordVerify">No match!</p>
            </div>
        </div>
        <label>First name: <input type="text" class="form-control" ng-model="user.name" /></label><br />
        <label>Last name: <input type="text" class="form-control" ng-model="user.surname" /></label><br />
        <input type="button" class="btn btn-default" ng-click="register()" value="Register" />
        <div vc-recaptcha="vc-recaptcha" on-create="setWidgetId(widgetId)"
             on-success="setResponse(response)"
             on-expire="cbExpiration()"></div>
    </form>
    <pre>user = {{user | json}}</pre>
</div>